nav
{
    background-color: black;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav ul
{
    list-style-type: none;
}

nav a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:white;
}

.table-responsive
{  
    text-align: center;
}

.table-responsive th
{
    background-color: black;
    color:white;
    text-align: center;
   
}

#wrapper-content
{
  
}
