/*Navigationbar*/

nav
{
    background-color: black;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav ul
{
    list-style-type: none;
}

nav a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:white;
}

/*dashboard*/

.dashboard-sort
{
    text-align: center;
}

.dashboard-script
{

    padding-top:34px;
}

/*table*/

.table
{  
    text-align: center;
}

.table th
{
    background-color: black;
    color:white;
    text-align: center; 
}

.table td
{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width: 180px;
}

.handling-btn
{
    height:25px;
    width:35px;
}

.stack-trace-row th
{
    background-color: #777777;
    color:white;
    cursor: pointer; 
}
.stack-trace-row td
{
    background-color: #ededed;
    color:black;
}
#stack-trace-td
{
    padding-bottom: 0px;
    background-color: white;
}

/*Animations*/

.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
